# Build out of tree or binaries will clutter you up.

# Temporaries and backups from emacs
*~
\#*
.\#*

# Temporary vim files
*.swp
*.tmp

# configuration file directory for VS Code
.vscode/

# Python things
__pycache__/
.pylintrc
.venv/

# Default build and log directories
bd*/
logs/
