# Architecture configuration for RISC-V
#
# Copyright (C) 2019 Embecosm Limited and the University of Bristol
#
# Contributor Graham Markall <graham.markall@embecosm.com>
# Contributor Jeremy Bennett <jeremy.bennett@embecosm.com>
#
# This file is part of Embench and was formerly part of the Bristol/Embecosm
# Embedded Benchmark Suite.
#
# SPDX-License-Identifier: GPL-3.0-or-later

# This is a python setting of keys in the dictionary arch_config.  The
# following keys may be set (other keys are silently ignored).
# - arch_cppflags
# - arch_cflags
# - arch_ldflags
# - arch_libs
# - use_dummy_crt0
# - use_dummy_libc
# - use_dummy_libgcc
# - use_dummy_compilerrt
# - use_dummy_libm

# The "flags" and "libs" keys (arch_cppflags, arch_cflags, arch_ldflags,
# arch_libs) should be lists of arguments to be passed to the compile or link
# line as appropriate. "libs" may be absolute file names or "-l" arguments to
# the linker. In the latter case, "-L" options in "arch_ldflags" may be
# needed.

# The "use" keys (use_dummy_crt0, use_dummy_libc use_dummy_libgcc,
# use_dummy_compilerrt, use_dummy_libm) take the value either True or False to
# indicate a dummy version of the relevant library should be appended when
# linking.

# There is no need to include an unused key. Any unspecified "use" keys will
# default to false.

arch_config = {}